name: Build EXE on Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package

      - name: Create EXE with jpackage
        run: |
          mkdir output
          jpackage --input target/ `
                   --name AutoPackUpdater `
                   --main-jar AutoPackUpdater-1.0.jar `
                   --type exe `
                   --win-shortcut `
                   --win-menu `
                   --vendor "Tobias" `
                   --dest output
        shell: powershell

      - name: Update Latest Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "AutoPackUpdater: Latest Build"
          body: "Automated build. Download the .exe below."
          files: |
            target/AutoPackUpdater-1.0-SNAPSHOT.jar
            output/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}